EquationsCore/bin/
*.user
EquationsCore/EquationsCore/bin/
EquationsSolver.Tests/obj/Debug/EquationsSolver.Tests.csproj.FileListAbsolute.txt
EquationsSolver.Web/node_modules/
EquationsSolver.WebApi/obj/Debug/EquationsSolver.WebApi.exe
EquationsSolver.WebApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EquationsSolver.WebApi/obj/
EquationsSolver/packages/
packages/
EquationsSolver.WebApi/bin/
EquationsSolver.Tests/obj/Debug/EquationsSolver.Tests.dll
EquationsSolver.Tests/bin/
EquationsSolver.Tests/obj/
EquationsCore/obj/
EquationsSolver/.vs/
EquationsCore/EquationsCore/obj/
EquationsSolver.WebApi/.vs/
